body{
    min-height: 100vh;

    background-color: white;
    margin: 8px;
}
.navbar{
    right: 0.5%;
    width: 72%;
    height: 17%;
    background-color: #212121;
    border: grey;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}
.player{
    float: right;
    height: 12%;
    width: 99%;
    background-color: black;
    bottom: 0;
    position: fixed;

}
#Explore{
    color: white;
}
#Install{
    color: white;

}
#back{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 4px;
}
ul{
    list-style: none;
}
.home{
    background-color: black;
    border: 0;
}
h3{
    display: inline-block;
}
